<nav>
    <div class="logoDiv">
        <img src="{{nav.logo.src}}" alt="{{nav.logo.alt}}">
    </div>
    <div class="linksDiv">
        <ul>
            <li><a [routerLink]="['']">INICIO</a></li>
            <li><a [routerLink]="['about']">INFORMACIÓN</a></li>
            <li><a [routerLink]="['characters']">PERSONAJES</a></li>
            <li><a [routerLink]="['locations']">LOCALIZACIONES</a></li>
            <li><a [routerLink]="['contact']">CONTACTO</a></li>
        </ul>
    </div>
</nav>

