.card{
    z-index: 1;
    background-color: rgba(3, 3, 3, 0.671);
    width: 40vh;
    height: 40vh;
    border-radius: 15px;
    padding:1rem 1rem 2rem;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-size: 0.6rem;
    
    .characterDiv{
        img{
            border-radius: 10px;
            max-width: 25vh;
        }
    }
    a{
        text-decoration: none;
        font-size: 1.2rem;
        color: rgb(0, 174, 255);
        padding-top: 1rem;
    }
    a:hover {
        color: chartreuse;
    }
}

.card:hover {
    animation: bounce 0.5s linear;
  }
  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }