.card{
    background-color: rgba(3, 3, 3, 0.671);
    width: 30vh;
    border-radius: 15px;
    padding:1rem 1rem 2rem;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    .characterDiv{
        img{
            border-radius: 10px;
            max-width: 25vh;
        }
    }
}