.heroMainDiv {
  height: 100%; 
  margin: 12vh auto;
  .imgContainer {
width: 100%;

    img {
      max-width: 33%;
    }
  }
  .heroDiv {
    width: 100%;
    background-color: rgba(3, 3, 3, 0.705);
    width: 70%;
    border-radius: 25px;
    border: chartreuse 5px solid;
    margin: auto;

    h3 {
      margin-top: -1rem;
      color: rgb(137, 180, 94);
    }
  }
}
@media only screen and (max-width: 900px) {
  .heroMainDiv {
    .imgContainer {
      margin-top: auto;
      padding-top: 10rem;
      img {
        max-width: 60%;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .heroMainDiv {
    .imgContainer {
      margin-top: auto;
      padding-top: 8rem;
      img {
        max-width: 60%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .heroMainDiv {
    .imgContainer {
      margin-top: auto;
      padding-top: 12rem;
      img {
        max-width: 60%;
      }
    }
  }
}
