.card{
    background-color: rgba(3, 3, 3, 0.808);
    width: 30vh;
    border-radius: 15px;
    padding:1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    img{
        width: 100px;
    }
}