.card{
    background-color: rgba(3, 3, 3, 0.808);
    width: max-content;
    border-radius: 15px;
    padding:1rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}