footer{
/*     position: fixed; */
    bottom: 0;
    width: 100%;
    min-height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 1rem;
    padding: 1rem;
    background-color: #65c065;
    font-size: 0.7rem;



}