footer{

    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 1.5rem;
    padding: 1rem;
    background-color: #65c065;
    margin-top: 3rem;
    margin-bottom: 0;

}